*{
    margin: 0%;
    padding: 0%;
}
#fullbody{
     width: 100vw;
     height: 100vh;
    background:rgba(100, 52, 9, 0.336);
    background-image:url(../image/img1.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#wc{
    height: 10vh;
    width: 100vw;
    background:rgba(29, 178, 212, 0.295);
      text-align: center;
    padding-top: 10px;
    color: white;
}

#form{
    height: 200px;
    width: 500px;
    margin-left: 30%;
    margin-top: 5%;
    padding-top :2%;
    padding-left: 2% ;
    border-radius: 8%;
}
#form label{
    color: rgb(255, 255, 255); 
    font-size: 30px;
}